---
title: Page Not Found | GitLab Documentation
searchbar: false
---

<div class='four-oh-four'>
  <div class="center">
    <img src="<%= @items['/assets/images/error-404.svg'].path %>" alt="404"/>
    <div id="js-error-message"></div>
    <br>
    <div id="pagesearchbar"> <!-- pagesearchbar -->
      <form id="search-form" action="/search/" method="get">
        <div class="input-container input-group">
          <span class="input-group-prepend search-icon">
            <i class="input-group-text fa fa-search" aria-hidden="true"></i>
          </span>
          <input id="search-input" type="text" name="q" class="docsearch form-control" placeholder="Type to search" required="true"/>
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">All results</button>
          </span>
        </div>
      </form>
    </div> <!-- pagesearchbar -->
    <div class="back-button center">
      <a href="javascript:history.back()" class="btn btn-warning">
      <i class="fa fa-arrow-left" aria-hidden="true"></i> Go back</a>
    </div>
    <br>
  </div>
</div>

<div data-archives-path="/archives/" data-environment="<%= ENV['NANOC_ENV'] %>" data-offline-versions="<%= @items['/_data/versions.yaml'][:offline].to_s.tr('[]" ', '') %>" id="offline-versions"></div>
